In [1]:
import sqlite3
from custom_agents.chat_planner_agent import chat_planner_agent
from transformers import AutoTokenizer
import os
from langchain_groq import ChatGroq

import google.generativeai as genai


def get_llm():

    api_key = os.environ['GROQ_API_KEY']
    llm = ChatGroq(temperature=0, groq_api_key=api_key, model_name="llama-3.1-70b-versatile")

    return llm

def get_long_ctx_llm():

    api_key = os.environ['GEMINI_API_KEY']
    llm = genai.configure(api_key=api_key)

    return llm

def get_chat_expert(_llm, _tokenizer, _planning_llm, _long_ctx_llm):
    return chat_planner_agent(_llm,_tokenizer, _planning_llm, _long_ctx_llm, log_level='DEBUG', log_file='./agentlogs/chat_planner.txt', logging_enabled=True  )

tokenizer = AutoTokenizer.from_pretrained("meta-llama/Meta-Llama-3-8B")

llm = get_llm()
long_ctx_llm = get_long_ctx_llm()
planning_llm = llm
chat_expert = get_chat_expert(llm,tokenizer, planning_llm, long_ctx_llm)

/usr/local/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [13]:
chat_history

[{'role': 'assistant',
  'content': 'Hello, ask me something about the music sales db'},
 {'role': 'user', 'content': 'artist that sold more units by year '},
 {'role': 'assistant',
  'content': ('Based on the data, here are the top artists by year who sold the most units:\n\n* 2013: Iron Maiden (36 units)\n* 2012: Iron Maiden (34 units)\n* 2010: Iron Maiden (35 units)\n* 2009: Iron Maiden (34 units)\n\nIt seems Iron Maiden was the top-selling artist in these years. Would you like to know more about a specific year or artist?',
                      Name  year  total_units
   0           Iron Maiden  2013           36
   1           Iron Maiden  2010           35
   2           Iron Maiden  2009           34
   3           Iron Maiden  2012           34
   4                    U2  2012           28
   ..                  ...   ...          ...
   548     Velvet Revolver  2013            1
   549  Vinícius De Moraes  2010            1
   550  Vinícius De Moraes  2012            1
   551      Yehudi Menuhin  2010            1
   552            Yo-Yo Ma  2012            1

   [553 rows x 3 columns])},
 {'role': 'user', 'content': 'mostrame solo el top 10'}]

In [17]:

chat_history = [{"role":"assistant","content":"Hello, ask me something about the music sales db"}]
message = "Muestrame los tracks de Iron Maiden "
chat_history.append({"role":"user","content":message})
query = message

In [12]:

message = "mostrame solo el top 10"
chat_history.append({"role":"user","content":message})
query = message

In [18]:
expert_answer = chat_expert.ask_question({"messages": chat_history,"query":query})
print("#09")
chat_history.append({"role":"assistant","content":expert_answer})

for message in chat_history:
    print(message['role'], message['content'])
print("#10")

#200 init agent chat **
#debug begin init db  18:14:57
#debug begin analyze doc   18:14:57
#debug end analyze doc   18:14:58
#debug begin exe plan db expert  18:14:58
#debug init action    18:14:58
#debug end action    18:14:58
#07  df_1
#debug end plan    18:14:58
#debug end x plan after gen from db    18:14:58
#007 db expert ask question par state  {'question': 'Get tracks by artist Iron Maiden'}
#100 result from db  Get tracks by artist Iron Maiden * Answer from expert:
(results limited to first 15 rows. Here you have a limited list, please use with caution because it's incomplete, inform the user about that and don't use the following information to do answer follow up questions, instead re write your question)
* Columns of the report: Name
Data from the report:
Different World
These Colours Don't Run
Brighter Than a Thousand Suns
The Pilgrim
The Longest Day
Out of the Shadows
The Reincarnation of Benjamin Breeg
For the Greater Good of God
Lord of Light
The Legacy
Hallowed Be Thy Name (Live) [Non Album Bonus Track]
The Number Of The Beast
The Trooper
Prowler
Transylvania
 213
#11
#11  <class 'pandas.core.frame.DataFrame'>                                      Name
0                         Different World
1                 These Colours Don't Run
2           Brighter Than a Thousand Suns
3                             The Pilgrim
4                         The Longest Day
..                                    ...
208                          The Clansman
209               When Two Worlds Collide
210                     The Educated Fool
211  Don't Look To The Eyes Of A Stranger
212                    Como Estais Amigos

[213 rows x 1 columns]
#001 answere user Show tracks by Iron Maiden
#002 query answer information                                       Name
0                         Different World
1                 These Colours Don't Run
2           Brighter Than a Thousand Suns
3                             The Pilgrim
4                         The Longest Day
..                                    ...
208                          The Clansman
209               When Two Worlds Collide
210                     The Educated Fool
211  Don't Look To The Eyes Of A Stranger
212                    Como Estais Amigos

[213 rows x 1 columns]
#003 query answer
#09
assistant Hello, ask me something about the music sales db
user Muestrame los tracks de Iron Maiden
assistant ("Aquí te muestro los tracks de Iron Maiden que encontré en la base de datos:\n\n1. Different World\n2. These Colours Don't Run\n3. Brighter Than a Thousand Suns\n4. The Pilgrim\n5. The Longest Day\n6. The Clansman\n7. When Two Worlds Collide\n8. The Educated Fool\n9. Don't Look To The Eyes Of A Stranger\n10. Como Estais Amigos\n\nEspero que esto sea lo que estabas buscando. ¿Necesitas algo más?",                                      Name
0                         Different World
1                 These Colours Don't Run
2           Brighter Than a Thousand Suns
3                             The Pilgrim
4                         The Longest Day
..                                    ...
208                          The Clansman
209               When Two Worlds Collide
210                     The Educated Fool
211  Don't Look To The Eyes Of A Stranger
212                    Como Estais Amigos

[213 rows x 1 columns])
#10

In [9]:


# Conectar a la base de datos
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = conn.cursor()

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = conn.cursor()

# Get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Generate the schema description
schema_description = ""
for table in tables:
    table_name = table[0]
    schema_description += f"{table_name}("
    
    # Get the columns
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    column_names = [column[1] for column in columns]
    schema_description += ", ".join(column_names) + ")\n"
    
    # Get the primary keys
    primary_keys = [column[1] for column in columns if column[5] == 1]
    if primary_keys:
        schema_description += f"  Primary Key: {', '.join(primary_keys)}\n"
    
    # Get the foreign keys
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    foreign_keys = cursor.fetchall()
    if foreign_keys:
        schema_description += "  Foreign Keys:\n"
        for fk in foreign_keys:
            schema_description += f"    - {fk[3]} -> {fk[2]}({fk[4]})\n"
    schema_description += "\n"

# Close the connection
conn.close()

# Print the schema description
print(schema_description)

Album(AlbumId, Title, ArtistId)
  Primary Key: AlbumId
  Foreign Keys:
    - ArtistId -> Artist(ArtistId)

Artist(ArtistId, Name)
  Primary Key: ArtistId

Customer(CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId)
  Primary Key: CustomerId
  Foreign Keys:
    - SupportRepId -> Employee(EmployeeId)

Employee(EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email)
  Primary Key: EmployeeId
  Foreign Keys:
    - ReportsTo -> Employee(EmployeeId)

Genre(GenreId, Name)
  Primary Key: GenreId

Invoice(InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total)
  Primary Key: InvoiceId
  Foreign Keys:
    - CustomerId -> Customer(CustomerId)

InvoiceLine(InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity)
  Primary Key: InvoiceLineId
  Foreign Keys:
    - TrackId -> Track(TrackId)
    - InvoiceId -> Invoice(InvoiceId)

MediaType(MediaTypeId, Name)
  Primary Key: MediaTypeId

Playlist(PlaylistId, Name)
  Primary Key: PlaylistId

PlaylistTrack(PlaylistId, TrackId)
  Primary Key: PlaylistId
  Foreign Keys:
    - TrackId -> Track(TrackId)
    - PlaylistId -> Playlist(PlaylistId)

Track(TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice)
  Primary Key: TrackId
  Foreign Keys:
    - MediaTypeId -> MediaType(MediaTypeId)
    - GenreId -> Genre(GenreId)
    - AlbumId -> Album(AlbumId)

In [6]:
# Consulta SQL con tablas en FROM y condiciones en WHERE
query = '''
    SELECT ar.Name AS ArtistName, SUM(il.UnitPrice * il.Quantity) AS TotalRevenue
    FROM InvoiceLine il, Track t, Album al, Artist ar
    WHERE il.TrackId = t.TrackId
    AND t.AlbumId = al.AlbumId
    AND al.ArtistId = ar.ArtistId
    GROUP BY ar.ArtistId
    ORDER BY TotalRevenue DESC;
'''

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados
artists_revenue = cursor.fetchall()

# Mostrar los resultados
print("Artistas que más han facturado (de mayor a menor):")
for artist, revenue in artists_revenue:
    print(f"{artist}: ${revenue:.2f}")

Artistas que más han facturado (de mayor a menor):
Iron Maiden: $138.60
U2: $105.93
Metallica: $90.09
Led Zeppelin: $86.13
Lost: $81.59
The Office: $49.75
Os Paralamas Do Sucesso: $44.55
Deep Purple: $43.56
Faith No More: $41.58
Eric Clapton: $39.60
R.E.M.: $38.61
Creedence Clearwater Revival: $36.63
Queen: $36.63
Battlestar Galactica (Classic): $35.82
Guns N' Roses: $35.64
Titãs: $33.66
Green Day: $32.67
Pearl Jam: $31.68
Kiss: $30.69
Van Halen: $28.71
Various Artists: $28.71
Red Hot Chili Peppers: $26.73
Chico Buarque: $26.73
Heroes: $25.87
Lenny Kravitz: $25.74
Chico Science & Nação Zumbi: $24.75
Battlestar Galactica: $23.88
Tim Maia: $23.76
Smashing Pumpkins: $23.76
Ozzy Osbourne: $23.76
Foo Fighters: $21.78
Antônio Carlos Jobim: $21.78
Cássia Eller: $20.79
Caetano Veloso: $20.79
Spyro Gyra: $19.80
Gilberto Gil: $19.80
The Who: $18.81
Amy Winehouse: $17.82
The Rolling Stones: $17.82
Jamiroquai: $17.82
Djavan: $17.82
The Tea Party: $16.83
Legião Urbana: $16.83
Gene Krupa: $16.83
Miles Davis: $16.83
The Cult: $15.84
Cidade Negra: $15.84
Audioslave: $15.84
AC/DC: $15.84
Soundgarden: $14.85
Toquinho & Vinícius: $14.85
Milton Nascimento: $14.85
The Black Crowes: $13.86
O Terço: $12.87
Lulu Santos: $12.87
Elis Regina: $12.87
System Of A Down: $11.88
Nirvana: $11.88
James Brown: $11.88
Santana: $11.88
Bruce Dickinson: $11.88
Body Count: $10.89
The Clash: $9.90
Stone Temple Pilots: $9.90
Skank: $9.90
Raul Seixas: $9.90
Olodum: $9.90
Marvin Gaye: $9.90
Judas Priest: $9.90
Frank Sinatra: $9.90
Aerosmith: $9.90
Zeca Pagodinho: $8.91
Stevie Ray Vaughan & Double Trouble: $8.91
R.E.M. Feat. Kate Pearson: $8.91
Planet Hemp: $8.91
Passengers: $8.91
Incognito: $8.91
Gonzaguinha: $8.91
Black Sabbath: $8.91
House Of Pain: $7.92
UB40: $7.92
Page & Plant: $7.92
Men At Work: $7.92
Marisa Monte: $7.92
Jimi Hendrix: $7.92
Godsmack: $7.92
Funk Como Le Gusta: $7.92
Falamansa: $7.92
Os Mutantes: $7.92
David Coverdale: $7.92
Black Label Society: $7.92
Alanis Morissette: $7.92
The Police: $6.93
Raimundos: $6.93
Mötley Crüe: $6.93
JET: $6.93
Def Leppard: $6.93
O Rappa: $6.93
Marcos Valle: $6.93
Buddy Guy: $6.93
Alice In Chains: $6.93
Velvet Revolver: $5.94
Rush: $5.94
Mônica Marianno: $5.94
Motörhead: $5.94
João Suplicy: $5.94
Jota Quest: $5.94
Vinícius De Moraes: $5.94
Jorge Ben: $5.94
Ed Motta: $5.94
BackBeat: $5.94
Scorpions: $4.95
Terry Bozzio, Tony Levin & Steve Stevens: $4.95
Paul D'Ianno: $4.95
Marillion: $4.95
Cláudio Zoli: $4.95
Accept: $4.95
Aquaman: $3.98
Chris Cornell: $3.96
Temple of the Dog: $3.96
The Doors: $3.96
Pink Floyd: $3.96
Joe Satriani: $3.96
Dennis Chambers: $3.96
Frank Zappa & Captain Beefheart: $3.96
Billy Cobham: $3.96
Apocalyptica: $3.96
Michael Tilson Thomas & San Francisco Symphony: $2.97
Emerson String Quartet: $1.98
Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir: $1.98
Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart: $1.98
Berliner Philharmoniker & Herbert Von Karajan: $1.98
Chicago Symphony Orchestra & Fritz Reiner: $1.98
Eugene Ormandy: $1.98
Michele Campanella: $0.99
Göteborgs Symfoniker & Neeme Järvi: $0.99
Martin Roscoe: $0.99
Julian Bream: $0.99
Kent Nagano and Orchestre de l'Opéra de Lyon: $0.99
Roger Norrington, London Classical Players: $0.99
Adrian Leaper & Doreen de Feis: $0.99
The 12 Cellists of The Berlin Philharmonic: $0.99
Philharmonia Orchestra & Sir Neville Marriner: $0.99
Yehudi Menuhin: $0.99
Otto Klemperer & Philharmonia Orchestra: $0.99
Calexico: $0.99
The King's Singers: $0.99
Antal Doráti & London Symphony Orchestra: $0.99
Edo de Waart & San Francisco Symphony: $0.99
Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos: $0.99
Maurizio Pollini: $0.99
Berliner Philharmoniker & Hans Rosbaud: $0.99
Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra: $0.99
Orchestra of The Age of Enlightenment: $0.99
Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair: $0.99
Sir Georg Solti & Wiener Philharmoniker: $0.99
Royal Philharmonic Orchestra & Sir Thomas Beecham: $0.99
Academy of St. Martin in the Fields & Sir Neville Marriner: $0.99
Scholars Baroque Ensemble: $0.99
Yo-Yo Ma: $0.99
English Concert & Trevor Pinnock: $0.99
Luciana Souza/Romero Lubambo: $0.99
The Posies: $0.99
Habib Koité and Bamada: $0.99
Dread Zeppelin: $0.99

#01
#02 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
#02
#03
#04
#45
#05
#06
#07
#08

#77 ask question external par state  {'messages': [{'role': 'assistant', 'content': 'Hello, ask me something.'}, {'role': 'user', 'content': 'cuantos son los signos del zodiaco?'}, {'role': 'assistant', 'content': 'Una pregunta interesante, pero no relacionada con tu carta natal. Hay 12 signos del zodiaco, pero para poder ayudarte de manera más personalizada, necesito saber más sobre ti. ¿Cuál es tu fecha de nacimiento?'}], 'query': 'consejo de vida', 'birthchart': 'vacio'}
#63 last messagest checked <|start_header_id|>assistant<|end_header_id|>
Hello, ask me something.
<|eot_id|>
<|start_header_id|>user<|end_header_id|>
cuantos son los signos del zodiaco?
<|eot_id|>

#64 query sent  consejo de vida
#88 check result  La respuesta es 12. Hay 12 signos del zodiaco.

*** PREGUNTA DEL USUARIO
 consejo de vida
*** FIN PREGUNTA DEL USUARIO

La tarea es determinar si la pregunta del usuario es relativa a astrología.

La respuesta es: PASS  ------
#11
#12 <|start_header_id|>assistant<|end_header_id|>
Hello, ask me something.
<|eot_id|>
<|start_header_id|>user<|end_header_id|>
cuantos son los signos del zodiaco?
<|eot_id|>

#13
#001 answere user consejo de vida
#002 query answer information  No puedo generar un reporte de la carta natal del consultante ya que no se ha proporcionado la carta natal y la pregunta del consultante no es específica sobre su carta natal. La pregunta del consultante es "consejo de vida" y luego cambia a "cuantos son los signos del zodiaco", lo que no se relaciona con su carta natal.

Debería generar un reporte que indique que no se puede proporcionar un consejo de vida o una interpretación de la carta natal sin más información y que la pregunta sobre los signos del zodiaco no es una consulta astrológica relacionada con la carta natal.

Reporte:

No se puede proporcionar un reporte de la carta natal del consultante ya que no se ha proporcionado la carta natal y la pregunta del consultante no es específica sobre su carta natal. La pregunta del consultante es demasiado general y no se relaciona con su carta natal. Se recomienda que el consultante proporcione más información sobre su carta natal y su pregunta para que se pueda proporcionar un reporte más preciso.
#003 query answer
#09
assistant Hello, ask me something.
user cuantos son los signos del zodiaco?
assistant Una pregunta interesante, pero no relacionada con tu carta natal. Hay 12 signos del zodiaco, pero para poder ayudarte de manera más personalizada, necesito saber más sobre ti. ¿Cuál es tu fecha de nacimiento?
assistant (Puedes proporcionar tu fecha de nacimiento para que pueda generar un reporte más preciso sobre tu carta natal)
#10

In [7]:
# Cerrar la conexión
conn.close()

In [24]:
from langchain_core.output_parsers import JsonOutputParser

# Tu string JSON
json_string = """[
{
    "step": 1,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "artist",
      "df_b": "album",
      "on": "ArtistId",
      "how": "inner"
    },
    "save_as": "df_1"
  },
  {
    "step": 2,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_1",
      "df_b": "track",
      "on": "AlbumId",
      "how": "inner"
    },
    "save_as": "df_2"
  }  ,
  {
    "step": 3,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_2",
      "df_b": "invoice_line",
      "on": "TrackId",
      "how": "inner"
    },
    "save_as": "df_3"
  },
  {
    "step": 4,
    "action": "OP_GROUP_BY",
    "parameters": {
      "df_a": "df_3",
      "group_by_columns": ["artist.Name"],
      "agg_functions": ["SUM(invoice_line.Quantity * track.UnitPrice) AS total_revenue"]
    },
    "save_as": "df_4"
  }
  
  ]
  """
a= """,
,
  {
    "step": 5,
    "action": "OP_ORDER",
    "parameters": {
      "df_a": "df_4",
      "columns": ["total_revenue"],
      "ascending": [False]
    },
    "save_as": "df_5"
  },
  {
    "step": 6,
    "action": "OP_LIMIT",
    "parameters": {
      "df_a": "df_5",
      "limit": 10
    },
    "save_as": "df_6"
  }
]
"""
# Crea una instancia del JsonOutputParser
parser = JsonOutputParser()

# Parsear el string JSON
try:
    resultado = parser.parse(json_string)
    print(resultado)  # Esto debería imprimir un diccionario de Python
except Exception as e:
    print(f"Error al parsear JSON: {e}")

Error al parsear JSON: Invalid json output: [
{
    "step": 1,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "artist",
      "df_b": "album",
      "on": "ArtistId",
      "how": "inner"
    },
    "save_as": "df_1"
  },
  {
    "step": 2,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_1",
      "df_b": "track",
      "on": "AlbumId",
      "how": "inner"
    },
    "save_as": "df_2"
  }  ,
  {
    "step": 3,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_2",
      "df_b": "invoice_line",
      "on": "TrackId",
      "how": "inner"
    },
    "save_as": "df_3"
  },
  {
    "step": 4,
    "action": "OP_GROUP_BY",
    "parameters": {
      "df_a": "df_3",
      "group_by_columns": ["artist.Name"],
      "agg_functions": ["SUM(invoice_line.Quantity * track.UnitPrice) AS total_revenue"]
    },
    "save_as": "df_4"
  },
  {
    "step": 5,
    "action": "OP_ORDER",
    "parameters": {
      "df_a": "df_4",
      "columns": ["total_revenue"],
      "ascending": [False]
    },
    "save_as": "df_5"
  }

  ]
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [ ]:
#008 analysis choice selected plan in execute plan (chat):  
[{'step': 1, 'action': 'define_global_query', 'parameters': {'query': 'Artistas que mas han facturado?', 'context_data': ''}, 'save_as': 'response_1'}, {'step': 2, 'action': 'ask_db_expert', 'parameters': {'query': 'Top artists by total revenue', 'context_data': ''}, 'save_as': 'response_2'}]

#99 ask db expert query  Top artists by total revenue
#debug begin init db  17:45:32
#debug begin analyze doc   17:45:32
###93 question  Top artists by total revenue
###94 error  Invalid json output: [
  {
    "step": 1,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "artist",
      "df_b": "album",
      "on": "ArtistId",
      "how": "inner"
    },
    "save_as": "df_1"
  },
  {
    "step": 2,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_1",
      "df_b": "track",
      "on": "AlbumId",
      "how": "inner"
    },
    "save_as": "df_2"
  },
  {
    "step": 3,
    "action": "OP_JOIN",
    "parameters": {
      "df_a": "df_2",
      "df_b": "invoice_line",
      "on": "TrackId",
      "how": "inner"
    },
    "save_as": "df_3"
  },
  {
    "step": 4,
    "action": "OP_GROUP_BY",
    "parameters": {
      "df_a": "df_3",
      "group_by_columns": ["artist.Name"],
      "agg_functions": ["SUM(invoice_line.Quantity * track.UnitPrice) AS total_revenue"]
    },
    "save_as": "df_4"
  },
  {
    "step": 5,
    "action": "OP_ORDER",
    "parameters": {
      "df_a": "df_4",
      "columns": ["total_revenue"],
      "ascending": [False]
    },
    "save_as": "df_5"
  },
  {
    "step": 6,
    "action": "OP_LIMIT",
    "parameters": {
      "df_a": "df_5",
      "limit": 10
    },
    "save_as": "df_6"
  }
]